@using Htmx.Components.State
@using Microsoft.Extensions.Configuration
@using CruSibyl.Core.Services
@inject IConfiguration Configuration
@inject IUserService UserService
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject IPageState PageState

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="htmx-config" historyCacheSize="20" indicatorClass="htmx-indicator" includeAspNetAntiforgeryToken="true" />
  <base href="/" />
  <title>CruSibyl</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="./css/site.css">
  <link rel="stylesheet" href="~/_content/Htmx.Components/css/table-overrides.css">
  @RenderSection("Styles", required: false)
  <script src="./js/htmx.min.js"></script>
  <script src="~/_content/Htmx.Components/js/table-behavior.js" defer></script>
  <script src="~/_content/Htmx.Components/js/page-state-behavior.js"></script>
  <script src="~/_content/Htmx.Components/js/htmx-auth-retry.js" defer></script>
</head>

@* <body hx-ext="multi-swap"> *@

<body class="min-h-screen flex flex-col">
  <div class="flex-1 flex flex-col">
    <header class="sticky top-0 z-50">
      <div class="navbar bg-base-100 shadow-md rounded-box px-4 z-50">
        <div class="navbar-start">
          <a class="text-xl font-bold">CruSibyl</a>
        </div>
        <div class="navbar-end">
          @await Component.InvokeAsync("NavBar")
          <div class="avatar ml-4">
            <div class="ring-primary ring-offset-base-100 w-12 rounded-full bg-base-300">
              <span class="flex items-center justify-center h-full text-xs text-base-content">ME</span>
            </div>
          </div>

        </div>
      </div>

    </header>


    <main id="tab-content" class="p-4 flex-1 flex flex-col min-h-0 pb-8">
      @RenderBody() @* Initial content - first tab loads by default *@
    </main>
  </div>

  <footer class="footer footer-center bg-base-300 text-base-content p-4 sticky bottom-0 z-50 h-16">
    <aside class="flex items-center h-full w-full">
      <p class="text-sm text-center w-full">
        Copyright &copy; <span id="copywrite-year">@DateTime.Now.Year</span>
        The Regents of the University of California, Davis campus. All rights reserved.
        <br>
        <a href="https://wiki.cse.ucdavis.edu/support/contact/home" target="_blank" class="link link-primary">
          Questions? Contact Us
        </a>
      </p>
    </aside>
  </footer>
  @Html.HtmxAntiforgeryScript()

  <htmx-page-state></htmx-page-state>

  @RenderSection("Scripts", required: false)
</body>

</html>
