<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="htmx-config" historyCacheSize="20" indicatorClass="htmx-indicator" includeAspNetAntiforgeryToken="true" />
  <base href="/" />
  <title>CruSibyl</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="./css/site.css">
  <link rel="stylesheet" href="~/_content/Htmx.Components/css/table-overrides.css">
  @RenderSection("Styles", required: false)
  <script src="./js/htmx.min.js"></script>
</head>

<body class="min-h-screen flex flex-col">
  <div class="flex-1 flex flex-col">
    <header class="sticky top-0 z-50">
      <div class="navbar bg-base-100 shadow-md rounded-box px-4 z-50">
        <div class="navbar-start">
          <a class="text-xl font-bold">CruSibyl</a>
        </div>
        <div class="navbar-end">
          @await Component.InvokeAsync("NavBar")
          @await Component.InvokeAsync("AuthStatus")
        </div>
      </div>

    </header>


    <main id="tab-content" class="p-4 flex-1 flex flex-col min-h-0 pb-8">
      @RenderBody() @* Initial content - first tab loads by default *@
    </main>
  </div>

  <footer class="footer footer-center bg-base-300 text-base-content p-4 sticky bottom-0 z-50 h-16">
    <aside class="flex items-center h-full w-full">
      <p class="text-sm text-center w-full">
        Copyright &copy; <span id="copywrite-year">@DateTime.Now.Year</span>
        The Regents of the University of California, Davis campus. All rights reserved.
      </p>
    </aside>
  </footer>
  @Html.HtmxAntiforgeryScript()

  <htmx-page-state></htmx-page-state>

  @RenderSection("Scripts", required: false)
  <htmx-scripts></htmx-scripts>
  
  <!-- Chart.js loaded conditionally for dashboard -->
  @RenderSection("ChartScripts", required: false)
</body>

</html>
