@using Htmx.Components.Table.Models
@model ITableModel
<div id="table-pagination">
    <div class="flex justify-center items-center mt-4 space-x-2">
        <button class="btn btn-sm" 
                hx-get="@Url.Action("SetPage")"
                hx-swap="none"
                hx-vals='{"page": 1}'
                disabled="@(Model.State.Page <= 1)"
                hx-disabled-elt="this">First</button>
        <button class="btn btn-sm" 
                hx-get="@Url.Action("SetPage")"
                hx-swap="none"
                hx-vals='{"page": @(Model.State.Page - 1)}'
                disabled="@(Model.State.Page <= 1)"
                hx-disabled-elt="this">Prev</button>

        <input type="number" min="1" max="@Model.PageCount"
                id="table-page"
                name="page"
                class="input input-bordered input-sm text-left w-16"
                value="@Model.State.Page"
                hx-get="@Url.Action("SetPage")"
                hx-swap="none"
                hx-trigger="change, input changed delay:500ms"
                />

        <select class="select select-bordered select-sm w-16"
                id="table-page-Size"
                name="pageSize"
                hx-get="@Url.Action("SetPageSize")"
                hx-swap="none"
                hx-trigger="change">
                <option value="10" selected="@(Model.State.PageSize == 10)">10</option>
                <option value="25" selected="@(Model.State.PageSize == 25)">25</option>
                <option value="50" selected="@(Model.State.PageSize == 50)">50</option>
                <option value="100" selected="@(Model.State.PageSize == 100)">100</option>
        </select>

        <button class="btn btn-sm" 
                hx-get="@Url.Action("SetPage")"
                hx-swap="none"
                hx-vals='{"page": @(Model.State.Page + 1)}'
                disabled="@(Model.State.Page >= Model.PageCount)"
                hx-disabled-elt="this">Next</button>
        <button class="btn btn-sm" 
                hx-get="@Url.Action("SetPage")"
                hx-swap="none"
                hx-vals='{"page": @Model.PageCount}'
                disabled="@(Model.State.Page >= Model.PageCount)"
                hx-disabled-elt="this">Last</button>
    </div>
</div>
